@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lato|Open+Sans+Condensed:300);


.body-test {
	margin:0px;
	background: url('city-lights1.jpg');
}

.container-top {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif; 
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

.logo {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.opening-text {
	padding-top: 45px;
	font-size: 35px;
}

.sub-opening-text {
	font-size: 25px;
}

.subscription-message {
	margin-bottom: 30px;
	font-size: 20px;
}


.signup-field {
	margin-top: 60px;
}

.signup-input {
	padding-top: 22px;
	padding-bottom: 22px;
	padding-left: 45px;
	padding-right: 45px;
	font-size: 24px;
	text-align: center;
}

.signup-button {
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 20px;
	text-align: center;
}



.middle1 {
	margin-top: 60px;
	margin-left: 80px;
	margin-right: 500px;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
